{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home</title>
	<base href="/">
	<!-- index.html -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<!-- Custom fonts for this template-->
	<link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<!-- Core plugin JavaScript-->
	<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</head>
<body>
<app-root>Loading...</app-root>

<script type="text/javascript" src="{% static 'frontend/dist/frontend/polyfills.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/dist/frontend/main.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/dist/frontend/runtime.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/dist/frontend/vendor.js' %}"></script>
<link href="{% static 'frontend/dist/frontend/styles.css' %}" rel="stylesheet">

<div class="container" style="padding: 30px;">
	<a href="{% url 'home' %}" style="padding-left: 5%;" title="Go Home"><i class="fas fa-home fa-lg"
																																					style="color: #5a6268;"></i> </a>
	<a href="{% url 'logout' %}" style="float: right; padding-right: 5%;" title="Logout"><i
		class="fas fa-sign-out-alt fa-lg" style="color: #5a6268;"></i> </a><br><br>
	<h2 class="text-center">Neoprospecta Test</h2>
	<h4 class="text-center" style="margin-bottom:25px;">By <a href="https://vitorcunha.me">Vítor Cunha</a></h4>
</div>

</body>
</html>