<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required="required"
          [(ngModel)]="customer.name"
          name="name"
          placeholder="Joao Silva"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number"
          class="form-control"
          id="age"
          required="required"
          [(ngModel)]="customer.age"
          name="age"
          placeholder="30"
         [maxLength]=3
          min="1"
          max="150"
        />
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input
          class="form-control"
          id="city"
          required="required"
          [(ngModel)]="customer.city"
          name="city"
          placeholder="Floripa"
        />
      </div>

      <button (click)="saveCustomer()" class="btn btn-success mr-2">Add</button>
      <button class="btn btn-secondary" (click)="goHome()">Home</button>
    </div>

    <div *ngIf="submitted">
      <h4>Added Successfully!</h4>
      <button class="btn btn-success mr-2" (click)="newCustomer()">Add</button>
      <button class="btn btn-secondary" (click)="goHome()">Home</button>
    </div>
  </div>
</div>
