{% extends 'base.html' %}

{% block title %}Full stack Neoprospecta test{% endblock %}

{% block content %}
	<style>
      a:hover {
          color: #4e555b;
      }
	</style>
	{% if user.is_authenticated %}
		<p>Hi {{ user.username }}!</p>
		<p><a href="{% url 'index' %}">Go to Neoprospecta test</a></p>
		<button class="btn btn-secondary"><a href="{% url 'logout' %}" style="color: white;">Logout</a></button>
	{% else %}
		<p>You are not logged in.</p>
		<button class="btn btn-secondary"><a href="{% url 'login' %}" style="color: white;">Login</a></button>
		<br>
		<br>
		<p>Do not have an account? Register below.</p>
		<button class="btn btn-secondary"><a href="{% url 'register' %}" style="color: white;">Register</a></button>
	{% endif %}
{% endblock %}