<div style="width: 400px; margin: auto;">
  <div *ngIf="currentCustomer" class="edit-form">
    <h4>Customer</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentCustomer.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          [(ngModel)]="currentCustomer.age"
          name="age"
          [maxLength]=3
          min="1"
          max="150"
        />
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="currentCustomer.city"
          name="city"
        />
      </div>

    </form>

    <button type="submit" class="btn btn-success mr-2" (click)="updateCustomer()">
      Update
    </button>

    <button class="btn btn-secondary mr-2" (click)="goHome();">
      Cancel
    </button>

    <button class="btn btn-danger" (click)="deleteCustomer()">
      Delete
    </button>

    <p class="{{message_class}}" style="margin-top: 20px;">{{ message }}</p>
  </div>

  <div *ngIf="!currentCustomer">
    <br />
    <p>Cannot access this Customer...</p>
  </div>
</div>
