<script></script>
<div class="row">
  <div class="col-sm-12">
    <h4>Customers List</h4>
    <br>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" cellspacing="0" width="100%">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.age }}</td>
        <td>{{ customer.city }}</td>
        <td><a class="btn btn-secondary btn-sm" routerLink="/customers/{{ customer.id }}">Edit</a></td>
      </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
